{# templates/header.html.twig #}
<header>
    <h1>A propos de We Movies</h1>
    <input type="text" id="searchInput" placeholder="Recherche..." oninput="searchMovies(this.value)">
    <div id="autocomplete-list" class="autocomplete-list"></div>
</header>
