{# templates/movie_modal.html.twig #}
<div id="movieModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="movieTitle"></h2>
        <div id="modalStarRating"></div>
        <iframe id="movieVideo" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
        <p id="movieDescription"></p>
        <button onclick="closeModal()">Fermer</button>
    </div>
</div>
